
body{
  color: white;
}

/* ******d togliere******* */
.gs-box-portfolio{   
  height: 100px;
}

header{
  height: 80px;
  line-height: 80px;
}

.gs-bg-grey{
  background-color: #2C3E50;
}

.gs-logo{
  font-size: 25px;
}

.gs-custom-header{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.gs-hover-header:hover{
  color: #1ABC9C;
}

.gs-jumbo{
  margin-top: 80px;
}

.gs-bg-green{
  background-color: #1ABC9C;
}

.gs-py-50{
  padding: 50px 0;
}

.gs-inner-jumbo{
  width: 800px;
  max-width: 80%;
  margin: 0 auto;
}

.gs-inner-jumbo img{
  display: block;
  width: 250px;
  margin: 0 auto;
}

.gs-title{
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0 10px 0;
  font-size: 40px;
}

.gs-title-content{
  font-size: 30px;
}

.gs-title-black{
  color: #2C2C2C;
}

.gs-hamburger{
  font-size: 20px;
}

.gs-line{
  display: inline-block;
  width: 100px;
  border-top: 1px solid black;
  margin: 20px 10px;

  /* da togliere */
}

.gs-inner-jumbo p{
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
}

.gs-portfolio, .contact{
  background-color: white;
}

.gs-box{
  margin: 10px;
}

.gs-box img{
  display: inline-block;
  width: 300px;
  border-radius: 5%;
}

.gs-container{
  width: 60%;
  margin: 0 auto;
}

.gs-contact{
  color: lightgreen;
}

.gs-form input, .gs-form textarea{
  border-radius: 0;
  border: none;
  border-bottom: 1px solid lightgrey;
}

.gs-btn{
  margin: 10px 0 50px 0;
  border-color: #1ABC9C;
}

.gs-btn:hover{
  border-color: #1ABC9C;
  background-color: #1ABC9C;
  opacity: .8;
}

.gs-footer-top{
  background-color: #3A546D;
}

.gs-footer-bottom{
  text-align: center;
  padding: 30px 0;

}